<ion-content>

 <ion-row>
  <ion-col size="6" class="fundo altura">
      
  </ion-col>

  <ion-col size="6">
    
    <div class="criarConta">
    
          <ion-label><h1>Criar Conta</h1></ion-label>
  
    </div>

    <ion-row class="ion-justify-content-center">
      <ion-col size="5">
        <ion-item>
          <ion-input label="Nome:"> </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="5">
        <ion-item>
          <ion-input label="E-mail: "></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="5">
        <ion-item>
          <ion-input label="Senha" type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="5">
        <ion-item>
          <ion-input label="Confirmar senha:" type="password" > </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <div class="btn-criarconta">
          <ion-button size="default" shape="round" color="success">Criar Conta</ion-button>
        </div>


        <div class="login">
          <ion-label><h2>Login com</h2></ion-label>
  </div>

    <!-- BOTOES -->
    <div class="botao">
    
          <ion-row><ion-button   shape="round" color="secondary" >Facebook</ion-button> </ion-row>
          <ion-row><ion-button   shape="round" color="tertiary" >Twitter</ion-button> </ion-row>
         <ion-row><ion-button  shape="round" color="warning" >Google</ion-button> </ion-row>
        
    </div>
    
  </ion-col>
</ion-row>
</ion-content>